@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap');

body {
    background-color: rgba(255, 255, 255, 0.68);
    color: #3a3a3a;
    font-family: 'Noto Sans Mono', monospace;
}

h1 {
    font-size: 37px;
}

h2 {
    font-size: 25px;
}

h3 {

}
.corpus {
    width: 80%;
    margin: auto;
    background-color: #eeeded;
    padding: 30px;
    box-shadow: 5px 5px 50px 12px gray;
    border-radius: 20px;
}

a {
    color: rgba(0, 25, 255, 0.5);
    text-decoration: none;
}

header {
    width: 85%;
    margin: 10px auto;
}

#head {
    border-top: dotted 4px gray;
    border-bottom: dotted 4px gray;
    height: 165px;
    margin: 10px auto;
    background-color: #eeeded;
    border-radius: 20px;
    box-shadow: 5px 5px 50px 12px gray;
    width: 100%;
}

header div {
    display: inline-block;
    width: 40%;
    margin-left: 20px;
}

header div p {
    float: right;
    width: 40%;
    margin: auto auto;
}

#objectif {
    border-top: dotted 4px gray;
    margin: 5px;
}

#objectif h2 {
    text-align: center;

}

#parcours {
    border-top: dotted 4px gray;
    border-bottom: dotted 4px gray;
    margin: 5px;
}

.info h3 {
    border: none;
}

#parcours h2 {
    text-align: center;
}

#parcours h3 {
    display: block;
    width: 100%;
}

.experience {
    width: 100%;
    height: 200px;
}

.experience > h3 {
    border: none;
}

.info {
    display: inline-block;
    float: left;
    border-right: 1px solid gray;
    width: 20%;
}

.description {
    display: inline-block;
    float: right;
    width: 76%;
}

#competences, #langue, #interet {
    width: 30%;
    display: inline-block;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 20px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    vertical-align: top;
}

#foot_block {
    margin-top: 25px;
    margin-left: 60px;
}

li {
    text-align: left;
    margin-left: 30px;
}

#formation {
    border-bottom: dotted 4px gray;
    height: 400px;
}

#formation > h2 {
    text-align: center;
}

.diplome {
    height: 100px;
}

.diplome > h3 {
    float: left;
    width: 32%;
    border-right: 1px solid gray;
}

.diplome > p {
    float: right;
    width: 64%;
    text-align: right;
}